h1 {
    text-align: center;
}

body {
    background-color: #cb997e;
}

#gameSelection {
    position: absolute;
    left: 580px;
    top: 320px;

    font-size: 18px;
    border-width: 5px;
    border-style: inset;
    border-color: #6b705c;
    padding: 25px;
}

#footballForm {
    position: absolute;
    left: 630px;
    top: 320px;

    font-size: 18px;

    display: none;
}

#tableTennisForm {
    position: absolute;
    left: 610px;
    top: 320px;

    font-size: 18px;

    display: none;
}

.labels {
    margin-right: 6px;
}

.image {
    position: absolute;
    left: 625px;
    top: 90px;
    

    width: 280px;
    height: 200px;
}

#playerNames {
    position: absolute;
    left: 570px;
    top: 320px;

    display: none;
}

#scoreKeeper {
    /* display: none; */
    position: absolute;
    left: 620px;
    top: 480px;
    
}

#scoreKeeper p {
    font-size: 50px;
    margin-bottom: 2px;
    margin-left: 3px;
}

.playerBtn {
    width: 110px;
    height: 80px;
}