h1 {
    text-align: center;
}

.formPosition {
    position: absolute;
    left: 620px;
    top: 100px;

    font-size: 18px;
}

select {
    width: 180px;
    height: 28px;

    margin-top: 5px;
    margin-right: 5px;

    border-width: 1px;
    border-color: black;
}

#previousInfo {
    font-size: 25px;
    border-bottom: 2px solid black;
    margin-bottom: 0px;
}

#footballForm {
    font-size: 19px;
    display: none;
}

#tableTennisForm {
    font-size: 20px;

    display: none;
}

#footballImage {
    position: absolute;
    left: 880px;
    top: 250px;
}

#tableTennisImage {
    position: absolute;
    left: 840px;
    top: 300px;
}



#playerNames {
    font-size: 19px;
    display: none;
}

#player1 {
    display: block;
    width: 250px;
    margin-bottom: 5px;

    font-size: 20px;
}

#player2 {
    width: 190px;
    font-size: 20px;

    padding-bottom: 5px;
}

#scoreKeeper {
    /* display: none; */

    display: none;
    
}

#scoreKeeper p {
    font-size: 50px;
    margin-bottom: 2px;
    margin-left: 3px;
}

.playerBtn {
    width: 110px;
    height: 80px;
}

#playerNameBtn {
    width: 70px;
    height: 30px;

    margin-bottom: 10px;
}